*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.flex {
    display: flex;
    align-items: center;
}
ul {
    list-style: none;
    gap: 2rem;
}
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: #222;
    color: white;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    transition: background 1s, color 1s, padding .5s;
    -webkit-transition: background 1s, color 1s, padding .5s;
    -moz-transition: background 1s, color 1s, padding .5s;
    -ms-transition: background 1s, color 1s, padding .5s;
    -o-transition: background 1s, color 1s, padding .5s;
}
header.white {
    background-color: white;
    color: black;
    padding: 1rem 3rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}
header li {
    font-weight: bold;
}
header li.active {
    color: #c0392b;
}
main {
    background: url('https://images.unsplash.com/photo-1677781320332-fabd967abd56?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDI0fF84ekZIdWhSaHlvfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60') no-repeat center;
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
}
main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
}
main > * {
    z-index: 50;
    margin-block: 1rem;
}
section {
    padding: 2rem 8rem;
}
section p {
    margin-top: 1rem;
    line-height: 2rem;
}