*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8E44AD;
    color: white;
    fill: white;
}
.container {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 3rem;
}
.card {
    text-align: center;
}
h1 {
    font-size: 6rem;
    font-weight: 400;
}
svg {
    width: 50px;
    aspect-ratio: 1;
}